body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .container {
    padding: 24px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: left;
  }
  
  .content {
    display: flex;
    flex-wrap: nowrap; 
    gap: 24px;
    align-items: flex-start;
  }
  
  .text-section {
    flex: 1 1 60%; 
    text-align: justify !important;
  }
  
  .text-section .highlight {
    font-size: 1rem;
    font-weight: bold;
    color: #4f46e5;
  }
  
  .text-section h1,
  .text-section h2 {
    margin-top: 16px;
    font-size: 2rem;
    font-weight: bold;
    color: #222;
  }
  
  .text-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
  }
  
  .image-section {
    flex: 1 1 40%; 
    flex-direction: column;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
  }
  
  .image-section img {
    max-width: 90%;
    /* max-height: 400px; */
    /* height: 500px; */
    /* height: auto; */
    object-fit: contain;
  }